.corentin-first,
.kittel-first {
  filter: drop-shadow(4px 5px 5px #ade0db);
}

.glowy-shadow,
.saber > g > path {
  filter: drop-shadow(4px 5px 5px #ade0db);
}

.corentin-first > g > g > path {
  stroke: white;
}

.kittel-first > g > g > path {
  stroke: white;
}

.noise {
  position: fixed;
  z-index: 9999;
  top: -300%;
  left: -120%;
  height: 600%;
  width: 600%;
  -webkit-animation:
    grain 7s steps(10) infinite,
    fadeIn 1s ease-out;
  animation:
    grain 7s steps(10) infinite,
    fadeIn 1s ease-in forwards;
  background-image: url(/noise.png);
  background-size: 200px;
  background-repeat: repeat;
  opacity: 0;
  pointer-events: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.25;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes grain {
  0%,
  to {
    transform: translate(0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%);
  }

  70% {
    transform: translateY(15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

@keyframes grain {
  0%,
  to {
    transform: translate(0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%);
  }

  70% {
    transform: translateY(15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

@keyframes widthAnimation {
  0% {
    border: 2px solid;
    border-color: hsl(174 69% 60%);
    max-width: 0%;
  }
  100% {
    border: 2px solid;
    border-color: hsl(174 69% 60%);
    max-width: 40%;
  }
}

.hrAnimated {
  border: 0px;
  animation: 1s ease-out 6s forwards widthAnimation;
}

.slideInFromRight {
  transform: translateX(50%);
  animation: slideInFromRight 1s ease-in-out forwards;
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideInToRight {
  transform: translateY(0%);
  animation: slideInToRight 1s 2s ease-in forwards;
}

@keyframes slideInToRight {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(10%);
  }
}

.slideInFromLeft {
  transform: translateX(-50%);
  animation: slideInFromLeft 1s ease-in-out forwards;
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideInFromTop {
  transform: translateY(-50%);
  animation: slideInFromTop 1s ease-in-out forwards;
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in-enter {
  transform: translateX(-150vw);
}

.slide-in-enter-active {
  transform: translateX(0);
  transition: transform 2s ease-out;
}

.slide-in-exit {
  transform: translateX(0);
  opacity: 1; /* Opacité pendant la sortie */
}

.slide-in-exit-active {
  transform: translateX(150vw);
  opacity: 0; /* Opacité pendant la sortie */
  transition:
    transform 1s ease-in,
    opacity 1s ease-in; /* Transition pour les deux propriétés */
}
