@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i');

@tailwind base;
@tailwind components;

@layer components {
  .heading--extra-large {
    @apply text-heading-extra-large font-bold leading-heading-extra-large;
  }

  .heading--sub-extra-large {
    @apply text-heading-sub-extra-large font-bold leading-heading-sub-extra-large;
  }

  .heading--large {
    @apply text-heading-large font-bold leading-heading-large;
  }

  .heading--sub-large {
    @apply text-heading-sub-large font-medium leading-heading-sub-large;
  }

  .heading {
    @apply text-heading font-medium leading-heading;
  }

  .sub-heading {
    @apply text-sub-heading font-normal leading-sub-heading;
  }

  .body {
    @apply text-body font-normal leading-body;
  }

  .caption {
    @apply text-caption font-normal leading-caption;
  }

  .brutalism-border {
    @apply border-b-4 border-l border-r-4 border-t;
  }

  .cancel-hover {
    @apply tablet:over:text-error1 duration-medium tablet:hover:border-transparent tablet:hover:bg-error40 tablet:hover:shadow-inner;
  }

  .validate-hover {
    @apply duration-medium tablet:hover:border-transparent tablet:hover:bg-success40 tablet:hover:text-success1 tablet:hover:shadow-inner;
  }

  .primary-transparent-hover {
    @apply duration-fast tablet:hover:scale-[102%] tablet:hover:shadow-primary-medium;
  }

  .primary-hover {
    @apply duration-fast tablet:hover:scale-[102%] tablet:hover:shadow-primary-medium tablet:dark:hover:shadow-primary-medium-light;
  }

  .secondary-hover {
    @apply duration-fast tablet:hover:scale-[102%] tablet:hover:shadow-secondary-medium;
  }

  .primary-cta {
    @apply bg-primary40;
  }

  .card {
    @apply border-primary/10 rounded-small  border p-small shadow-md;
  }

  .inner-card {
    @apply border-primary/10 rounded-small border p-small shadow-inner;
  }
}

@tailwind utilities;

@layer base {
  :root {
    --gradient: #e1f0da;

    --background: 107 27.3% 99%;
    --foreground: 107 4.2% 7%;

    --muted: 107 27.72% 38.7%;
    --muted-foreground: 107 4.2% 59%;

    --popover: 107 41.06% 99%;
    --popover-foreground: 107 4.2% 66%;

    --card: 107 41.06% 99%;
    --card-foreground: 107 4.2% 65%;

    --border: 107 1% 60%;
    --input: 107 1% 60%;

    --primary: 107 42% 9%;
    --primary-foreground: 107 4.2% 90%;

    --secondary: 193 27.72% 99%;
    --secondary-foreground: 193 4.2% 38%;

    --accent: 107 27.72% 99%;
    --accent-foreground: 107 4.2% 38%;

    --destructive: 0 62.8% 50%;
    --destructive-foreground: 107 4.2% 38%;

    --ring: 107 42% 90%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
    @apply min-w-0;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'Plantor';
  src: url('/fonts/plantor.eot');
  src:
    url('/fonts/plantor.eot?#iefix') format('embedded-opentype'),
    url('/fonts/plantor.woff2') format('woff2'),
    url('/fonts/plantor.woff') format('woff'),
    url('/fonts/plantor.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mustica Pro';
  src: url('/fonts/MusticaPro-SemiBold.eot');
  src:
    url('/fonts/MusticaPro-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MusticaPro-SemiBold.woff2') format('woff2'),
    url('/fonts/MusticaPro-SemiBold.woff') format('woff'),
    url('/fonts/MusticaPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: theme('colors.primary40');
  color: theme('colors.neutral80');
  font-family: 'Mustica Pro', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: roboto;
}

.transition-long {
  transition: all 0.5s ease;
}
